# Fichiers objets
*.o
*.obj
*.ko
*.elf

# Fichiers de lien (Linker output)
*.ilk
*.map
*.exp

# Fichiers archive (Static libraries)
*.lib
*.a
*.la
*.lo

# Fichiers binaires (Binary and executable files)
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Fichiers de débogage
*.dSYM/
*.su
*.idb
*.pdb

# Autres fichiers générés durant la compilation
*.i
*.ii
*.s
*.slo
*.lst

# Dépendances
*.dep
*.d

# Fichiers temporaires
*.swp
*~
.*.swp
.*.swo
.*.tmp

# Dossiers de build
build/
obj/
bin/
push_swap_tester
